<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VocAPPulary</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

    <style>
        .przycisk {
            background-color: white;
            color: black;
            border: 1px solid black;
        }

        .main_screen {
            text-align: center;
        }
        .content {
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="photo.jpg" height="100%" width="100%" />
            </div>
            <div class="col-sm-6 main_screen">
                <div class="content">
                    <h1>
                        Welcome!
                    </h1>
                    <form action="login.php" method="post">
                        <input type="text" id="login" name="login" placeholder="Login"/>
                        <input type="password" id="passwd" name="passwd" placeholder="Password" />
                        <input type="submit" class="btn-lg przycisk" value="Login">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
