<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VocAPPulary</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <style>

    </style>
</head>
<body>
    <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">Logo</a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li><a th:href="@{/}">Strona główna</a></li>
                            <li><a th:href="@{/sets}">Zestawy</a></li>
                            <li><a th:href="@{/category}">Kategorie</a></li>
                            <li><a th:href="@{/lang}">Języki</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Wyloguj się</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="container my-2">

        <div class="row">
            <div class="col-sm-6">
                <a th:href="@{/sets}" class="btn btn-warning">
                    <div class="panel_wybor">
                        <p>Zestawy</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a th:href="@{/category}" class="btn btn-default">
                <div class="panel_wybor">
                    <p>Kategorie</p>
                </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>VocAPPulary 2023</p>
            </div>
            <div class="col-sm-6">
                <p>Nie wiem, co tu wpisać generalnie</p>
            </div>
        </div>
    </div>

</body>
</html>