<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Languages</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/}">Strona g?ówna</a></li>
            <li><a th:href="@{/sets}">Zestawy</a></li>
            <li><a th:href="@{/category}">Kategorie</a></li>
            <li><a th:href="@{/lang}">J?zyki</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Wyloguj si?</a></li>
        </ul>
    </div>
</nav>

<div class="container my-2">
    <h1>Languages List</h1>

    <a th:href = "@{/lang/add}" class="btn btn-primary btn-sm mb-3"> Add Language </a>

    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
            <tr>
                <th>Jezyk</th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="jezyk : ${jezykiList}">
            <td th:text="${jezyk.nazwa}"></td>
            <td> <a th:href="@{/lang/update/{id}(id=${jezyk.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/lang/delete/{id}(id=${jezyk.id})}" class="btn btn-danger">Delete</a>
                <a th:href = "@{/lang/overview/{id}(id=${jezyk.id})}" class="btn btn-primary btn-sm mb-3"> Overview </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>