<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Zaktualizuj słówko</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Słówka</h1>
    <hr>
    <h2>Zaktualizuj słówko</h2>

    <form action="#" th:action="@{/vocab/save}" th:object="${slowko}" method="POST">
        <input type="hidden" th:field="*{id}" />
        <input type="text" th:field="*{slowko}" class="form-control mb-4 col-4" placeholder="Słówko">
        <input type="text" th:field="*{tlumaczenie}" class="form-control mb-4 col-4" placeholder="Tłumaczenie">
        <input type="text" th:field="*{jezyk}" class="form-control mb-4 col-4" placeholder="Język">
        <input type="text" th:field="*{kategoria}" class="form-control mb-4 col-4" placeholder="Kategoria">
        <input type="text" th:field="*{zestaw}" class="form-control mb-4 col-4" placeholder="Zestaw">
        <button type="submit" class="btn btn-info col-2">Zaktualizuj</button>
    </form>

    <hr>

    <a th:href = "@{/vocab}">Powrót do listy słówek</a>
</div>
</body>
</html>
